.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.character-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  opacity: 1;
}

.character-info {
  text-align: start;
  padding-left: 24px;
  opacity: 1;
}

.character-card {
  opacity: 0.3;
  background: #fff;
  border-radius: 2px;
  display: flex;
  max-height: 200px;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
